services:
  db:
    image: postgres:15
    container_name: sentinelstream_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sentinelstream
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: sentinelstream_redis
    ports:
      - "6379:6379"

  api:
    build: .
    container_name: sentinelstream_api
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/sentinelstream
      REDIS_HOST: redis
    volumes:
      - .:/app

volumes:
  postgres_data:
